/*
El body se utiliza para entender a la pestaña que se encuentra en la pestaña "Pers Formulario.html", y dentro de ello utilizamos la funciones que queramos
*/
body{
	font-family: arial, helvetica;
	/*margin es utilizado para establecer la anchura de algunos o todos los elementos las margenes de los elementos entre las pestañas
	*/
	margin: 0;
    /*
    El padding es el espacio entre el contenido del elemento y su borde.
    */
    padding: 0;
    background: url("Imagenes/Bebe.jpg");
    background-position: center;
}

.menu{
	list-style: upper-alpha;
	padding: 0;
	background: #FF0000;
	width: 100%;
	margin: initial;
}
.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block; 
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #ef8354;
}
.contenedor{
	color: rgb("B7B7B7");
}

.menu1{
	list-style: none;
	padding: 0;
	background: #FF0000;
	width: 100%;
	margin: initial;
}
.menu1 li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block; 
}
.menu1 li{
	display: inline-block;
	text-align: center;
}

.menu1 li a:hover{
	background: #ef8354;
}
.contenedor{
	color: rgb("B7B7B7");
}
.espacio{
	color: rgb(255,0,0);
}
.h1Inicio{
	color: rgb(255,255,255);
}
.boton{
	color: rgb(255,0,0);
}
.ParrafoInicio{
	color: rgb(0,0,0);
}
.registrars{
	color: rgb(0,50,255);
}
.tabla{
	color: rgb(255,255,255);
}
.Color_mapa{
	color: white;
}
